<p id="notice"><%= notice %></p>
<%= link_to 'hmtl output', html_resume_path(@resume) %> |
<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'index', resumes_path %>

<p>
  <b>Content:</b>
  <%= @resume.content %>
</p>


